body {
	background: -moz-linear-gradient(90deg, rgba(27,204,169,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(27,204,169,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(27,204,169,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(27,204,169,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(27,204,169,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(27,204,169,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#1BCCA9',GradientType=0 ); /* ie6-9 */
	color: #ffffff;
	font-family: 'PT Sans Caption', sans-serif;
}

body > .container {
	margin-top: 55px;
}
.navbar-custom {
	background: #2C3E50;
}

.navbar-custom a {
	color: #ffffff;
}

.navbar-custom .nav>li>a:hover{
	background: none;
}

.navbar-custom .navbar-brand {
	padding: 0 0;
	height: 55px;
	font-size: 1.8em;
	font-family: 'Catamaran', sans-serif;
}
.navbar-custom .navbar-brand > img{
	display: inline-block;
	background: #087A64;
}

.navbar-custom .navbar-nav>li>a {
	line-height: 25px;
	font-size: 1.2em;
}

.clock-section {
	font-family: 'Droid Sans Mono', monospace;
	text-align: center;
	margin-top: 5%;
}

.clock-section .clock {
	font-size: 12em;
}
.clock-section .scramble {
	font-size: 1.8em;
}

/*Белая линия*/
.clock-section .line hr {
	color: #ffffff;
	border-width: 4px;
    border-radius: 1px;

}
.line {
	position: relative;
	margin-top: -30px;
    margin-bottom: 45px;
}
/*Кнопки в линии*/
.line-options {
	background: #13aa96;
    display: inline-block;
    padding: 0 11px;
    position: relative;
    top: 35px;
    font-size: 1.4em;
}
.line-options span {
	cursor: pointer;
}



.results-section > .row > .col-md-6:nth-child(1) {
	padding-right: 6px;
}
.results-section > .row > .col-md-6:nth-child(2) {
	padding-left: 6px;
}
.results-section > .row > .col-md-6 .col-md-2 {
	padding-left: 0px;
}
.results-section > .row > .col-md-6 .col-md-10 {
	padding-right: 12px;
}
/*Окрашивание результатов в синий*/
.results-section .results {
	background: #2C3E50;
	height: 230px;
}

/*Размеры шрифтов для левого и правого списков*/
.results-section .plain-results { font-size: 1.7em;}
.results-section .average-results {font-size: 1.4em;}

.plain-results {
	overflow-y: scroll;
	overflow-x: hidden;
}
.plain-results::-webkit-scrollbar {
    width: 15px;
}
.plain-results::-webkit-scrollbar-thumb {
	border: 5px solid #2C3E50;
    border-radius: 10px;
    background: white;
}

/*Списки результатов*/
.results-section .results > ul{
	list-style: none;
	text-align: center;
	padding:10px 20px;
}

/*Отсупы между элементами списка*/
.results-section .results > ul > li{
	margin-bottom: 5px;
	position: relative;
	display: inline;
}

/*Добавляем перенос при inline*/
.results-section .results > ul > li::after{
	content: "\A";
	white-space: pre;
}

/*Общий стиль для маркеров*/
li.marker::before {
	content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 50%;
    right: -0.8em;
    top: 0.35em;
}

/*Цвета маркеров*/
li.best-result::before {background: #2ecc71}
li.worst-result::before {background: #e74c3c}

/*Отступы у социальных кнопок*/
.socials-wrapper > a {
	display: block;
	margin-bottom: 19px;
}


.avatar {
	width: 55px;
	display: inline;
	margin-right: 13px;
    padding: 4px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(41% at 50% 50%);
}
ul.user-options .username {
	float: right;
	display: inline;
	padding-top: 0px;
    padding-bottom: 0px;
}
